# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# PyCharm
.idea/

# Environment variables / API keys
.env
*.env

# Medical imaging data
data/
*.nii
*.nii.gz

# MONAI model files
*.pt
*.pth
*.ckpt
*.ts

# Medical images
*.nii
*.nii.gz

# Generated outputs
outputs/
bundles

downloads